<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vue3.0 demo</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="root"></div>
  <script>
    // watch 侦听器
    // watchEffect 侦听器， 偏向于 effect
    const app = Vue.createApp({
      setup(props, context) {
        const { ref, reactive, toRefs, watch, watchEffect } = Vue;
        // const name = ref('elf')
        // watch(name, (currentValue, prevValue) => {
        //   console.log(currentValue, prevValue)
        // })
        const nameObj = reactive({
          name: 'elf',
          englishName: 'echo'
        })
        // 具有一定的惰性 lazy
        // 参数可以拿到原始和当前值
        // 可以侦听多个数据的变化，用一个侦听器承载
        // watch(
        //   [ () => nameObj.name, () => nameObj.englishName],
        //   ([curName, curEng], [prevName, prevEng]) => {
        //     console.log(curName, prevName, '-----', curEng, prevEng)
        //   }
        // )

        watch(nameObj, (val, oldVal) => {
          console.log(val, oldVal)
        }, {
          immediate: true, // 默认只有数据改变才会监听，第一次不会执行,设置true则第一次也能执行
          deep: true // 可以深度检测到nameObj 对象的属性值的变化
        })

        
        

        // 立即执行，没有惰性 immediate
        // 不需要传递你要侦听的内容，自动会感知代码依赖，不需要传递很多参数，只要传递一个回调函数
        // 不能获取之前数据的值
        // const stop = watchEffect(() => {
        //   console.log(nameObj.name)
        //   console.log(nameObj.englishName)
        //   setTimeout(() => {
        //     stop()
        //   }, 5000)
        // })
        return {
          ...toRefs(nameObj)
        }
      },
      template: `
        <div>
          Name: <input v-model="name" />
        </div>
        <div>
          name is {{name}}
        </div>
        <div>
          englishName: <input v-model="englishName" />
        </div>
        <div>
          englishName is {{englishName}}
        </div>
        
      `
    })
    
    
    const vm = app.mount('#root')
  </script>
</body>
</html>